venv/

__pycache__/
*.pyc

*.task

sessions/*
!sessions/.gitkeep

assets/*
!assets/audio/
!assets/audio/music/
!assets/audio/music/.gitkeep
!assets/audio/reactions/
!assets/audio/reactions/.gitkeep
!assets/video/
!assets/video/.gitkeep